In [1]:
import pandas as pd

In [2]:
fn = '/home/eszti/projects/dipterv/panlex/6_lang_out/df_lang_stat.tsv'

df_lang_stat = pd.read_csv(fn, sep='\t')
df_lang_stat

  lang   words  found      emb
0  eng  384034  95339  2519370
1  hun  202859  48178   793866
2  deu  248800  35867  2275233
3  ita  158869  58220   871053
4  spa  185338  55847   985667
5  fra  253996  60466  1152449

In [3]:
fn = '/home/eszti/projects/dipterv/panlex/6_lang_out/df_plx_stat.tsv'

df_plx_stat = pd.read_csv(fn, sep='\t')
df_plx_stat

   lang1 lang2  word_pairs   found
0    eng   fra      432121  169771
1    eng   hun      324949  110674
2    ita   spa      208905  103136
3    hun   spa       74720   30881
4    fra   spa      240692   90219
5    deu   fra      272573   44781
6    deu   spa      235445   44133
7    eng   spa      318106  130821
8    eng   ita      255904  127076
9    deu   eng      461283   91446
10   fra   hun      149091   57349
11   deu   ita      199464   42891
12   hun   ita       72065   29715
13   deu   hun       86978   12664
14   fra   ita      226673  100864

In [4]:
fn = '/home/eszti/projects/dipterv/panlex/6_lang_out/eng_hun.tsv'

df = pd.read_csv(fn, sep='\t')
nf = df.loc[(df['found_x'] == False) | (df['found_y'] == False) ]
nf.head()

,lang 1,lang 2,eng,hun,score,found_x,found_y
0,eng,hun,Romance,román stílusú,9.0,False,False
1,eng,hun,Indo-European,indoeurópai,9.0,False,True
2,eng,hun,Malay,maláj,9.0,False,True
3,eng,hun,Germanic language,germánium-,9.0,False,False
4,eng,hun,fish cake with swirl,csavart haltorta,8.0,False,False